{% block fos_user_content_login %}
<div id="AuthForm">    
        {% trans_default_domain 'FOSUserBundle' %}

        <div id="AuthErrors"></div>

    <script type="text/javascript">

        $(document).ready(function(){
            
            $("#AuthForm").dialog({
                autoOpen: false,
                modal: true,
                width: 330,
                title: "{{ 'security.login.auth'|trans }}"
            });

            $('#LoginBtn').click(function(ev){
                $("#AuthForm").dialog("open");
            });

            $("#LoginBtn").button();
            $("#_submit").button();
            $("#_reset").button();
            $("#_close").button();
            
            $('#_reset').click(function() {
                $(".fos_user_login_form").find('#username').val("");
                $(".fos_user_login_form").find('#password').val("");                        
            });
            
            $('.fos_user_login_form').submit(function(event){

                event.preventDefault();
                $.ajax({
                    type        : $('form').attr( 'method' ),
                    url         : '{{ path("fos_user_security_check") }}',
                    data        : $('.fos_user_login_form').serialize(),
                    dataType    : "json",
                    success     : function(data, status, object) {
                        if(data.success == false){
                            $('#AuthErrors').html(data.message) 
                        } else if(data.success == true){
                            window.location.replace(data.url);
                        };
                    },
                    error: function(data, status, object){
                        console.log(data.message);
                    }
                });
            });
            
            $('#_close').click(function() {
                $("#AuthForm").dialog( "close" );                       
            });
            
        });

    </script>

    <form action="{{ path("exten_fos_user_security_check") }}" method="post" class="fos_user_login_form">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <label for="username">{{ 'security.login.username'|trans }}</label>
        <br />
        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
        <br />
        <label for="password">{{ 'security.login.password'|trans }}</label>
        <br />
        <input type="password" id="password" name="_password" required="required" />
        <br />
        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
        <br />
        <hr />
        <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
        <input type="button" id="_reset" value="{{ 'security.login.reset'|trans }}" />
        <input type="button" id="_close" value="{{ 'security.login.close'|trans }}" />
    </form>
    
</div>
{% endblock fos_user_content_login %}