<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{% endblock %}</title>
        
        <link href="{{ asset('bundles/deb/css/ui-lightness/jquery-ui-1.10.4.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/deb/css/style.css') }}" rel="stylesheet" />            
        {% block stylesheets %}{% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
        <script src="{{ asset('bundles/deb/js/jquery-1.10.2.js') }}"></script>
        <script src="{{ asset('bundles/deb/js/jquery-ui-1.10.4.min.js') }}"></script>
        <script src="{{ asset('bundles/deb/js/common.js') }}"></script>
        {% block javascripts %}{% endblock %}
        
    </head>
    <body>
        
        <div id="structure">

            <div id="header">   
                
                    <ul class="lang-menu">
                        <li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}">English</a></li>
                        <li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'ru'})) }}">Russian</a></li>
                    </ul>
                
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                        <a href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    {% else %}
                        
                        <input id="LoginBtn" type="button" value="{{ 'layout.login'|trans({}, 'FOSUserBundle') }}">
                        <input id="RegisterBtn" type="button" value="{{ 'layout.register'|trans({}, 'FOSUserBundle') }}">
                        
                        {% render url('fos_user_security_login') %}                        
                        {% render url('fos_user_registration_register') %}
                        
                    {% endif %}

                {% for type, messages in app.session.flashBag.all %}
                    {% for message in messages %}
                        <div class="{{ type }}">
                            {{ message|trans({}, 'FOSUserBundle') }}
                        </div>
                    {% endfor %}
                {% endfor %}


                {% block main_menu %}                                        
                    
                    <div id="menu">

                        <a href="{{ path('topics_list') }}">     {{ 'menu.index'    |trans({}, 'DebTopicsBundle') }}</a>
                        <a href="{{ path('topic_detail') }}">    {{ 'menu.detail'   |trans({}, 'DebTopicsBundle') }}</a>
                        <a href="{{ path('info_page') }}">       {{ 'menu.info'     |trans({}, 'DebTopicsBundle') }}</a>
                        {% if app.user %}
                            <a href="{{ path('personal_section') }}">{{ 'menu.personal' |trans({}, 'DebTopicsBundle') }}</a>
                        {% endif %}                        

                    </div>
                {% endblock %}

            </div>

            <div id="content">
                {% block body %}{% endblock %}
            </div>

        </div>
        
    </body>
</html>
