{% extends '::debates/base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script src="http://{{ host }}:8080/socket.io/socket.io.js"></script>
    <script>
        var socket = io.connect('http://{{ host }}:8080');        
    </script>
{% endblock %}

{% block body %}
    <br />
    Current locale : {{ locale }}    
    <br />
    
    <div>
        {% for topic in topics %}
          
            <ul>
                <li>id : {{ topic.id }}</li>
                <li>name : {{ topic.name }}</li>
                <li>description : {{ topic.description }}</li>
            </ul>

    {% endfor %}        
    </div>
    
{% endblock %}