{% block fos_user_content_register %}
    
<div id="RegForm">    
    {% trans_default_domain 'FOSUserBundle' %}
        
    <div id="RegErrors">
        
    </div>
    
        <script type="text/javascript">

        $(document).ready(function(){           
            $(".fos_user_registration_register").submit( function(event){
                
                event.preventDefault();
                $.ajax({
                    type        : $('form').attr( 'method' ),
                    url         : '{{ path('exten_fos_user_register_check') }}',
                    data        : $('.fos_user_registration_register').serialize(),
                    dataType    : "json",
                    success     : function(data, status, object) {
                        if(data.success == false){
                                $('#RegErrors').html(data.message);           
                        } else if(data.success == true){
                            window.location.replace(data.url);
                        };
                    },
                    error: function(data, status, object){
                        console.log(data.message);
                    }
                });
            });               
        });
        
    </script>
   
    <form method="post" class="fos_user_registration_register">              
        
        <div id="fos_user_registration_form">
            <div>
                <label for="fos_user_registration_form_email" class="required">{{ 'form.email'|trans }}</label>
                <input type="email" id="fos_user_registration_form_email" name="fos_user_registration_form[email]" required="required" />
            </div>
            <div>
                <label for="fos_user_registration_form_username" class="required">{{ 'form.username'|trans }}</label>
                <input type="text" id="fos_user_registration_form_username" name="fos_user_registration_form[username]" required="required" pattern=".{2,}" />
            </div>
            <div>
                <label for="fos_user_registration_form_plainPassword_first" class="required">{{ 'form.password'|trans }}</label>
                <input type="password" id="fos_user_registration_form_plainPassword_first" name="fos_user_registration_form[plainPassword][first]" required="required" />
            </div>
            <div>
                <label for="fos_user_registration_form_plainPassword_second" class="required">{{ 'form.password_confirmation'|trans }}</label>
                <input type="password" id="fos_user_registration_form_plainPassword_second" name="fos_user_registration_form[plainPassword][second]" required="required" />
            </div>                  
            <div>
                <input id="registerButton" type="submit" value="{{ 'registration.submit'|trans }}" />
            </div>
            <div>
                {{ form_row(form._token) }}                
            </div>
        </div>
    </form>           

</div>       
            
{% endblock fos_user_content_register %}
